*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: black;
}
.navbar-brand p{
    margin-top: 13px;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
.nav-link:hover{
    color: black;
    
}

/* .main{
    background: url(../assets/bear\ \(1\).jpg);
    background-size: cover;
    height: 75vh;
    background-position: 50% 50%;
    width: 100%;
} */
/* .push{
    margin-top: -10px;
} */
.main h1{
    font-size: 4rem;
    font-weight: 700;   
}
/* .sliding{
    height: 70vh;
} */

/* Trending */
h1{
    font-weight: 700;
}
.btn1{
    /* height: 60px;
    width: 20%; */
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    font-weight: 500;
    border-radius: 15px;
}

.card:hover{
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;

}

.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    margin: 0.5rem;
    /* width: calc(100%/3); */
}
@media screen and (min-width:568px){
    .cards-wrapper{
        display: flex;
    }
}
@media screen and (max-width:567px) {
    .c:not(:first-child){
        display: none;

    }
}

 /* COLLECTION */

.coll{
    border-radius: 8px;
    height: 350px;
}
  
/* .collect{
    display: flex;
    
    align-items: center;
    justify-content: center;
} */

 /* 3 div */

.box{
    height: 100px;
    width: 300px;
    background-color: #f3f4f6;
    display: flex;
    align-items:center;
    justify-content: center;
}
@media screen and (max-width:567px) {
    .box{
        margin-bottom: 20px;
    }
    .box1{
        margin-top: 10px;
    }
}
.three{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    background: url(../assets/3slides.jpg);
}
.bottom{
    float: right;
    padding-right: 10px;
}
.bt{
    width: 100px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media screen and (max-width:567px) {
    .bt{
        margin-right: 10px;
        font-size: 13px;
    }
}
/* Footer */
.footer{
    background-color: #f3f4f6;
    /* background-color: black; */
    /* color: white; */
    color: black;
}
.footer input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    /* background: black; */
    color: black;
    /* color: white; */
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    margin: 0;
    cursor: pointer;
}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 8px;
}
.footer p:hover{
    color: #ee1c47;
}
.fab:hover{
    transform: scale(1.3);
}
/* Contact Us Form */
.lft{
    width: 60%;
    padding-bottom: 20px;
    /* padding: 45px;
    border-radius: 0; */
}
.send{
    padding-bottom: 10px;
} 
.rt{
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.col-md-7{
    background: white;
    padding: 20px;
}
.col-md-5{
    background-color: lightskyblue;
    /* background-color: #1089ff; */
    padding: 20px;
    color: white;
    cursor: pointer;
}
.form-control{
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none! important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.bi{
    font-size: 20px;
}
.d-flex{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact{
    background: lightskyblue;
    padding-top: 18px;
}
@media only screen and (max-width:600px){
     .lft{
        width: 100%;
     }
     .contact{
        background: white;
        padding-top: 0px;

     }
     .lft{
        padding-bottom: 0px;
     }
     .rt{
        box-shadow: none;
     }
     .col-md-7{
        background: #f3f4f6;
     }
}