*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: black;
}
.navbar-brand p{
    margin-top: 13px;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
.nav-link:hover{
    color: black;
    
}

/* .main{
    background: url(../assets/bear\ \(1\).jpg);
    background-size: cover;
    height: 75vh;
    background-position: 50% 50%;
    width: 100%;
} */
/* .push{
    margin-top: -10px;
} */
.main h1{
    font-size: 4rem;
    font-weight: 700;   
}
.sliding{
    height: 70vh;
}

/* Trending */
h1{
    font-weight: 700;
}
.btn{
    /* height: 60px;
    width: 20%; */
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    font-weight: 500;
    border-radius: 15px;
}
.card:hover{
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    margin: 0.5rem;
    /* width: calc(100%/3); */
}
@media screen and (min-width:568px){
    .cards-wrapper{
        display: flex;
    }
}
@media screen and (max-width:567px) {
    .c:not(:first-child){
        display: none;

    }
}
/* Footer */
.footer{
    background-color: black;
    color: white;
}
.footer input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    margin: 0;
}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 8px;
}
  

